
@{
    ViewData["Title"] = "DetailsWithViewBag";
}

<h2>@ViewBag.PageTitle</h2>
<div>
    Name : @ViewBag.Emp.Name
</div>

<div>
    Email : @ViewBag.Emp.Email
</div>


<div>
    Department : @ViewBag.Emp.Department
</div>